*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box{
  position: relative;
  width: 400px;
  height: 550px;
  border: 2px solid rgba(73, 68, 68, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-box h2{
  color: #000;
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
}

.form-box .input-box{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #000;
}

.form-box .input-box input{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: #000;
  font-size: 16px;
}

i{
  position: absolute;
  color: #000;
  top: 13px;
  right: 0;
}

input::placeholder{
  color: #c0c0c0;
}

.btn{
  color: #fff;
  background: orange;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transition: all 0.4s ease;
}

.social-button{
  display: block;
  padding: 4px 0;
  line-height: 1.5rem;
}

.social-button .social-login{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f5f8fa;
  color: #000;
  border: 1px solid #d4d5d8;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 8px;
  box-shadow: 0px 1px 2px rgba(152, 152, 152, 0.2);
  margin-top: 10px;
  cursor: pointer;
}

.social-login .social-icon{
  display: flex;
  align-items: center;
}

.social-login .social-icon img{
  position: absolute;
  left: 10px;
  height: auto;
  width: 20px;
}


.group{
  display: flex;
  justify-content: space-between;
}


.group span a {
  color: orange;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 40px;
  transition: all 0.4s ease;
}

.group a:hover{
  color: #000;
  text-decoration: none;
}

/*.group p{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: inherit;
}

.group a{
  color: orange;
  text-decoration: none;
  font-weight: 500;
}

.group a:hover{
  text-decoration: none;
  color: #000;
}*/